.App {
  text-align: center;
}

.stockPricesPod{
  padding-bottom: 25px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.bookmarksPod{
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
